.icon{
    position: relative;
    border-top: solid transparent 4px;
    padding: 10px 10px;
    margin: 0px 10px;
    fill: black;
    cursor: pointer;
}

.icon:hover{
  border-top: solid green 4px;
  fill: green;
}
  